﻿@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <a href="/login" >Iniciar Sesión</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
